<a href="https://colab.research.google.com/github/Lutris98/21_1Q/blob/master/2.Santander/Santander_Prototype.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.EDA

In [ ]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder, StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV #the ones that could be written with simpler API
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score #auc means area under curve #asymmetric targetset makes auc score more valid

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
santander_df=pd.read_csv('/content/gdrive/MyDrive/Dataset/santander_train.csv')
test_df=pd.read_csv('/content/gdrive/MyDrive/Dataset/santander_test.csv')

Mounted at /content/gdrive

In [ ]:
test_df['TARGET']=2.0
df=pd.concat([santander_df,test_df],axis=0,ignore_index=True) #if not, df[5] will have double values

##1)Basic statistics

In [ ]:
df.head(3)

   ID  var3  var15  ...  saldo_medio_var44_ult3     var38  TARGET
0   1     2     23  ...                     0.0  39205.17     0.0
1   3     2     34  ...                     0.0  49278.03     0.0
2   4     2     23  ...                     0.0  67333.77     0.0

[3 rows x 371 columns]

In [ ]:
df.info() #all in numerical forms

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151838 entries, 0 to 151837
Columns: 371 entries, ID to TARGET
dtypes: float64(116), int64(255)
memory usage: 429.8 MB

In [ ]:
df.describe()

                  ID           var3  ...         var38         TARGET
count  151838.000000  151838.000000  ...  1.518380e+05  151838.000000
mean    75919.500000   -1551.539391  ...  1.173110e+05       1.018480
std     43831.999424   39394.010507  ...  2.177175e+05       0.989876
min         1.000000 -999999.000000  ...  1.202730e+03       0.000000
25%     37960.250000       2.000000  ...  6.770562e+04       0.000000
50%     75919.500000       2.000000  ...  1.061020e+05       1.000000
75%    113878.750000       2.000000  ...  1.185435e+05       2.000000
max    151838.000000     238.000000  ...  2.889440e+07       2.000000

[8 rows x 371 columns]

##2)Basic feature selection

##3)Encoding

#2.Preprocessing(with Visualization)

In [ ]:
target_df=pd.DataFrame(df,columns=['TARGET','ID']) #seperation for pca 
df.drop(['ID','TARGET'],axis=1,inplace=True)

In [ ]:
df['imp_ent_var16_ult1'].value_counts() #returns series, uniques are indices

0.00        144516
300.00         470
150.00         430
600.00         348
900.00         276
             ...
313.89           1
956.25           1
2280.00          1
7305.00          1
20460.00         1
Name: imp_ent_var16_ult1, Length: 938, dtype: int64

In [ ]:
feature_binary=[]
feature_ternary=[]
for feature in df.columns.values: #too many ananymous features is key point of this competition
  if df[feature].value_counts()[df[feature].mode()[0]]>=100000: #mode returns most frequent value in series
    feature_binary.append(feature)
  else:
    df.drop([feature],axis=1,inplace=True) 
df.columns

Index(['var3', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var40_comer_ult1',
       'imp_op_var40_comer_ult3', 'imp_op_var40_efect_ult1',
       'imp_op_var40_efect_ult3', 'imp_op_var40_ult1',
       'imp_op_var41_comer_ult1',
       ...
       'saldo_medio_var29_ult1', 'saldo_medio_var29_ult3',
       'saldo_medio_var33_hace2', 'saldo_medio_var33_hace3',
       'saldo_medio_var33_ult1', 'saldo_medio_var33_ult3',
       'saldo_medio_var44_hace2', 'saldo_medio_var44_hace3',
       'saldo_medio_var44_ult1', 'saldo_medio_var44_ult3'],
      dtype='object', length=353)

In [ ]:
num=0
for feature in feature_binary:
  num+=1
  df.loc[(df[feature]==df[feature].mode()[0]),feature]=1
  df.loc[(df[feature]!=df[feature].mode()[0]),feature]=0
print(f'Number of disproportionate features are {num}')
print(df['imp_ent_var16_ult1'].value_counts()) #returns series, uniques are indices

Number of disproportionate features are 353
1.0    144516
0.0      7322
Name: imp_ent_var16_ult1, dtype: int64

##1)Imputation

##2)Scaling&Outlier removal

##3)Dimension reduction

In [ ]:
df=StandardScaler().fit_transform(df)
df=PCA(n_components=15).fit_transform(df) #pca returns ndarray
df=pd.DataFrame(df,columns=['pca1','pca2','pca3','pca4','pca5','pca6','pca7','pca8','pca9','pca10','pca11','pca12','pca13','pca14','pca15'])

#3.Modeling

In [ ]:
realdf=pd.concat([df,target_df],axis=1)
santander_df=realdf.loc[realdf.TARGET!=2.0]
test_df=realdf.loc[realdf.TARGET==2.0].drop('TARGET',axis=1,inplace=True)
santander_target=santander_df['TARGET']
santander_feature=santander_df.drop('TARGET',axis=1)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(santander_feature,santander_target,test_size=0.2,random_state=0)
xgb_clf=XGBClassifier(random_state=0)
lgbm_clf=LGBMClassifier(random_state=0)

In [ ]:
params={'learning_rate':[0.02],
        'n_estimators':[1000,1500],
        'max_depth':[3,5,7],
        'colsample_bytree':[0.7,0.8],
        'subsample':[0.9]}
xgb_gridcv=GridSearchCV(xgb_clf,param_grid=params,cv=5)
xgb_gridcv.fit(X_train,y_train)
print('Best parameters are\n',xgb_gridcv.best_params_)

In [ ]:
params={'learning_rate':[0.02],
        'n_estimators':[1000,1500],
        'max_depth':[5,7,9],
        'colsample_bytree':[0.7,0.8],
        'subsample':[0.9]}
lgbm_gridcv=GridSearchCV(lgbm_clf,param_grid=params,cv=5)
lgbm_gridcv.fit(X_train,y_train)
print('Best parameters are\n',lgbm_gridcv.best_params_)

In [ ]:
xgb_clf=xgb_gridcv.best_estimator_
lgbm_clf=lgbm_gridcv.best_estimator_
pred1=lgbm_clf.fit(X_train,y_train).predict(X_test)
pred2=xgb_clf.fit(X_train,y_train).predict(X_test)
vo_clf=VotingClassifier([('xgb',xgb_clf),('lgbm',lgbm_clf)],voting='soft',weights=[1,1])
pred=vo_clf.fit(X_train,y_train).predict(X_test)
print('Each score was : {0:4f} / {1:4f}'.format(roc_auc_score(y_test,pred1),roc_auc_score(y_test,pred2)))
print('\nfinal score was : ',roc_auc_score(y_test,pred))

#1)Uploading

In [ ]:
id=test_df['ID']
test_df.drop('ID',axis=1,inplace=True)
test_df.head(3)

In [ ]:
realpred=vo_clf.predict(test_df)
realpred=pd.DataFrame(realpred,columns=['TARGET'])
submit_df=pd.DataFrame({'ID':id,'TARGET':realpred})
submit_df.head(3)

In [ ]:
submit_df.to_csv('/content/gdrive/Mydrive/Dataset/Lutris_santander.csv',index=False)

#2)Feedback

#3)Afterwords